@import "variables";
@import "less/bootstrap.less";

.nav-tabs{
  margin-bottom: 10px;
}


.valign-form-elements{
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  float: none;
}

.equal-width-columns{
  table-layout: fixed;
}

.no-padding-left{
  padding-left: 0px;
}

.no-padding-right{
  padding-right: 0px;
}

.shift-5px-to-top{
  margin-top: -5px;
}

.custom-form{
  .form-group{
    overflow: hidden;

    .control-label, .control-wrapper{
      >div, >table, >label{
        margin-bottom: 0px;
      }
      .valign-form-elements;
    }

    .control-label{
      margin-right: -4px;
      text-align: right;
    }
  }
}

.text-center tr th{
  text-align: center;
}


.extra-margin-bottom{
  margin-bottom: 10px;
}


@media (max-width: @screen-lg) {

  .custom-form .form-group{
    .control-label{
      display: block;
      padding-bottom: 5px;
      text-align: left;
    }
    .control-wrapper{
      display: block;
      >label, >.control-wrapper{
        padding-left: 0px;
        padding-right: 0px;
      }
      .control-label{
        margin-top: 15px;
      }
    }
  }
}

@media (min-width: @screen-lg) {
  .custom-form{
    .form-group{
      .align-top{
        padding-top: 7px;
        vertical-align: top;
      }
    }
  }
  .margin-top-on-lg{
    margin-top: 10px;
  }
  /*
  .container {
    width: 1300px;
  }
  */
}


@media (max-width: @screen-md) {
  .zvonki{
    .col-md-2{
      margin-bottom: 20px;
      overflow: hidden;
    }
    .agrad-blue{
      margin: 10px 10px 20px 10px;
    }
  }
}

@media (min-width: @screen-md) {
  .zvonki{
    display: table;
    border-spacing: 10px;
    >div{
      float: none;
      vertical-align: top;
      display: table-cell;
    }
    >.col-md-5{
    }
    .btn{
      white-space: normal;
    }
  }
}


.agrad-blue{
  padding: 9px 14px;
  border-radius: 4px;
  border: 1px solid #bce8f1;
  background: #d9edf7;

  .table{
    font-size: 1.1em;

    .phone-status{
      display: inline-block;
      width: 11px;
      height: 11px;
      margin-right: 11px;
      border-radius: 11px;
      &.green{
        background: #5cb85c;
        border: 1px solid #3fa23e;
      }
      &.red{
        background: #d9534f;
        border: 1px solid #bd3e3a;
      }
      &.grey{
        background: #c2c2c2;
        border: 1px solid #a8a8a8;
      }
    }

    td{
      vertical-align: middle;
    }
    .number{
      font-size: 1.3em;
    }

    .label{
      padding: .2em .6em .2em;
    }
  }

  .take-up-remaining-space{
    display: block;
    overflow: auto;
  }


  input[type=text], textarea{
    font-size: 18px;
    color: #333333;
    font-family: arial;
  }

  input[type=text]{
    height: 40px;
  }

  textarea{
    font-size: 14px;
  }

  label{
    padding-top: 4px;
    font-size: 1.3em;
    color: #2d6987;
    font-weight: normal;
  }

  h4{
    color: #2d6987;
    padding-bottom: 3px;
  }

  .table-bordered{
    border-radius: 4px;
    border-collapse: separate;
    border: 1px solid #2d7cc0;

    th{
      padding: 6px 9px;
      color: #ffffff;
      background: #428bca !important;
      border: none;
    }

    td{
       background: #ffffff;
       padding: 6px 9px;
       border: none;
       border-right: 1px solid #d9d9d9 !important;
       border-bottom: 1px solid #d9d9d9 !important;
     }

    td:last-child{
      border-right: none !important;
    }

    tr:last-child{
      td:first-child{
        border-radius: 0px 0px 0px 4px;
      }
      td:last-child{
        border-radius: 0px 0px 4px 0px;
      }
      td:first-child:last-child{
        border-radius: 0px 0px 4px 4px;
      }
      td{
        border-bottom: none !important;
      }
    }
  }
}



.float-left{
  float: left;
}

.zvonki2{
  .row{
    @media (max-width: @screen-md){
      margin-bottom: -10px;
      > div{
        margin: 15px;
      }
    }

    @media (min-width: @screen-md){
      margin-bottom: 15px;
      >div{
        margin: 0px;
      }
    }
  }

  label.float-left{
    padding-right: 25px;
  }

  .agrad-blue{
    padding: 22px 19px;
  }
}

.zv2-rt, .zv3-rt{
  @media (max-width: @screen-md){
    padding: 0px;
  }
  .agrad-blue{
    padding: 12px 19px 24px 19px;
  }
  .buttons{
    padding-top: 5px;
    text-align: center;
    .btn{
      width: 18%;
      height: 70px;
      margin-left: 2px;
      margin-right: 2px;
    }
    @media (max-width: @screen-lg) {
      .btn{
        width: 18%;
        height: 70px;
        padding: 6px 5px;
        font-size: 1.1em;
      }
    }
  }
}



.zv2-lb{
  .btn{
    margin-top: 9px;
  }
  label.float-left{
    width: 100px;
    padding-right: 0px;
  }
}

.zv2-rb{
  @media (max-width: @screen-md){
    padding: 0px;
  }
  .agrad-blue{
    padding-bottom: 35px;
  }

  @media (min-width: @screen-md){
    .zv2-rb-inner{
      width: 100%;
      display: table;
      .col-md-2{
        padding: 0px;
      }
      >div{
        float: none;
        padding-bottom: 0px;
        position: relative;
        display: table-cell;
        vertical-align: middle;
        .zv2-ce{
          padding: 20px 8px;
          white-space: normal;
        }
        .table{
          margin-bottom: 0px;
        }
      }
    }
  }
  .zv2-taken{
    margin-top: 21px;
    white-space: normal;
  }
  label{
    margin-bottom: 20px;
  }
}

.zv_next{
  margin-top: 4px;
  font-size: 1.7em;
}

.zv3-lt{
  label{
    margin-bottom: 10px;
  }
  .btn{
    padding: 8px 16px;
    width: 112px;
    font-weight: bold;
    font-size: 3.2em;
    margin-bottom: 10px;
  }
}

.zv3-lb{
  padding-top: 25px;
  .form-group{
    margin-bottom: 27px;
  }
}

.zv3-rb{
  @media (max-width: @screen-md){
    padding: 0px;
  }
    .agrad-blue{
    label{
      margin-bottom: 13px;
    }
    .table td, .table th{
      padding-left: 20px;
    }
  }
  .zv3-taken{
    margin-top: 17px;
    white-space: normal;
  }
}


@media (max-width: @screen-md){
  .zvonki3 .row{
    margin-bottom: 0px;
    > div{
      margin: 15px;
    }
  }
}

@media (min-width: @screen-md){
  .zvonki3{
    .row{
      margin-bottom: 15px;
      >div{
        margin: 0px;
      }
    }
  }

  .mngr_listing{
    overflow: auto;
    max-height: 200px;
  }
}







.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    cursor: pointer;
    white-space: nowrap;

    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}
