<div class="diagram" id="diagram">
  <div class="col-xs-2 left-col">
    <div class="top">
      Ресурсы
    </div>
    <div id="masters"></div>
  </div>
  <div class="col-xs-10">
    <div class="top nop">
      <div class="half date">
        <div id="date_diagram" style="float:left">
        </div>
          <label style="float:right" for="is_guarantee">Гарантия:
              <input type="checkbox" id="is_guarantee" name="is_guarantee" />
          </label>
      </div>
      <div class="half time" id="els-scala"></div>
    </div>
    <div id="records"></div>
  </div>
</div>
