<style>
  .left_panel {
    left: 0px;
    /*
    margin-top: 90px;
    width: 20%;
    */
    position: fixed;
  }
</style>
<div class="col-lg-2 col-md-3 right-menu left_panel">
  <div class="cont">
    <ul>
      <li>
        <a href="#" id="deny">
          <i class="fa fa-repeat" aria-hidden="true"></i>
          <span>Работа с возражениями</span>
        </a>
      </li>
      <li>
        <a href="#" id="price-list">
          <i class="fa fa-usd" aria-hidden="true"></i>
          <span>Цены</span>
        </a>
      </li>
      <li>
        <a href="#" class="with-index" id="spec">
          <i class="fa fa-star" aria-hidden="true"></i>
          <span class="num" id="numSpec"></span>
          <span>Специальные предложения</span>
        </a>
      </li>
      <li>
        <a href="#" class="with-index" id="recomend">
          <i class="fa fa-fire" aria-hidden="true"></i>
          <span class="num" id="numRecommend"></span>
          <span>Рекомендации</span>
        </a>
      </li>
    </ul>
  </div>
</div>
