<div class="top">
  <span>Сервис бюро Форд</span>
</div>
<div class="cont">
  <a href="#" onclick="front_page('client-koles', 'Создание записи')" class="created">Создать запись</a>
  <ul id="left_menu">
    <!--# block name="menu" -->
    <li>
      <a href="#" onclick="front_page('front', 'Рабочий стол', true, true)">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <span>Рабочий стол</span>
      </a>
    </li>
    <li>
      <a href="#" onclick="front_page('clear', 'Клиенты', true, true)">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>Клиенты</span>
      </a>
    </li>
    <li>
      <a href="#" onclick="front_page('calendar', 'Планировщик', true, true)">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <span>Планировщик</span>
      </a>
    </li>
    <li>
      <a href="#" onclick="front_page('clear', 'Отчеты', true, true)">
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
        <span>Отчеты</span>
      </a>
    </li>
    <li>
      <a href="#" onclick="front_page('clear', 'Журнал записи', true, true)">
        <i class="fa fa-list-ul" aria-hidden="true"></i>
        <span>Журнал записи</span>
      </a>
    </li>
    <li>
      <a href="#" onclick="front_page('clear', 'Зарплата', true, true)">
        <i class="fa fa-money" aria-hidden="true"></i>
        <span>Зарплата</span>
      </a>
    </li>
    <li>
      <a href="#" onclick="front_page('clear', 'Настройка', true, true)">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <span>Настройка</span>
      </a>
    </li>
    <!--# endblock -->
    <!--# include virtual="" stub="menu" -->
  </ul>
</div>
<!--# block name="menu_widgets" -->
<!--# endblock -->
<!--# include virtual="" stub="menu_widgets" -->
