<div class="content">
  <div class="col-xs-9 left">
    <a href="#" class="active">
      <i class="fa fa-phone" aria-hidden="true" onclick="call_init()"></i>
    </a>
    <a href="#" onclick="front_page('front', 'Рабочий стол', true, true)">
      <span id="numEvents"></span>
      <i class="fa fa-clock-o" aria-hidden="true"></i>
    </a>
    <!--
    <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
    -->
    <span id="tabs">
    <!--
        <a href="#"onclick="front_page(this)" id="tab_front">Рабочий стол
        </a>
    -->
    </span>
  </div>
  <div class="col-xs-3 right">
    <div class="name" onclick="front_logout()">
      <span id="topline_username">ГОСТЬ</span>
    </div>
    <!--
    <a href="#" class="set"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
    -->
  </div>
</div>
