<div class="wrap-content">
	<div class="col-md-10 cont" style="padding: 0;">
		<div id='script-warning'>
			Error getting data from <code>/data</code> endpoint.
		</div>

		<div id='loading'>loading...</div>

		<div id='calendar-box'></div>
	</div>
	<div class="col-md-2 wrap-lf">
		<div class="cont">
			<h3>Расписание</h3>
			<div class="box">
				<ul id="shadule-list"></ul>
			</div>
		</div>
	</div>
</div>
