<div class="wrap-content">
	<div class="col-md-10 cont" style="padding: 0;">
		<center>
			<br>
			<br>
			<h1>Эта страница в разработке!</h1>
			<h2><a href="#" style="text-decoration: underline;" onclick="front_page_close('clear');front_page('front')">Вернуться на рабочий стол</a></h2>
		</center>
	</div>
	<div class="col-md-2 wrap-lf">
		<div class="cont">

		</div>
	</div>
</div>
