<!--# include file="_menu_form.html"-->
<form id="clientOrder" class="wrap-content">
	<div method="post" class="col-md-10 cont" style="padding: 0;">
    <!--# include file="_diagram.html"-->
		<div id="Client" class="col-md-8">
			<p class="di">
		          <label for="name">
		              <span>Клиент:</span>
		              <br>
		              <input type="text" name="name" class="find-info long" disabled>
		              <!--<a href="#" class="del"><i class="fa fa-times" aria-hidden="true"></i></a>-->
		          </label>
		          <ul id="list-clients"></ul>
		          <input type="hidden" name="idContragent" required>
		          <input type="hidden" name="idCustomer" required>
		      <p class="di">
		        <label for="tel">
		          <span>Телефон:</span><br>
                  <a href=#><i class="fa fa-phone" aria-hidden="true" onclick="call_init(tel.value)"></i></a>
		          <input type="tel" name="tel" class="long" disabled>
		        </label>
		      <p class="di">
		          <label for="auto">
		              <span>Авто:</span>
		              <br>
		              <input type="text" name="auto" class="find-info" id="auto" style="width: 500px" disabled>
		              <!--<a href="#" class="del"><i class="fa fa-times" aria-hidden="true"></i></a>-->
		          </label>
		          <ul id="list-cars"></ul>
		          <input type="hidden" name="carId" required>
		        <!--<p class="di">-->
		          <!--<label for="model">-->
		              <!--<span>Модель:</span>-->
		              <!--<br>-->
		              <!--<input type="text" name="model" class="find-info long" id="model" required>-->
		              <!--<a href="#" class="del"><i class="fa fa-times" aria-hidden="true"></i></a>-->
		          <!--</label>-->
		          <!--<ul id="list-models"></ul>-->
		          <!--<input type="hidden" name="modelId" id="modelId" required>-->
			<p class="di">
				<span style="margin-right: 10px">Гарантия?:</span>
				<label>да <input style="margin-left: 5px" type="radio" name="garantee" value="yes"></label>
				<label>нет <input style="margin-left: 5px" type="radio" name="garantee" value="no"></label>
			<p>
				Записан <span id="data-reg"></span> на <span id="time-reg"></span> к мастеру <span id="name-master"></span>
		</div>
		<div class="col-md-4 history">
			<h3>История</h3>
			<div class="box">
				<ul></ul>
			</div>
		</div>
		<div class="col-md-12">
			<p class="di">
				<input type="hidden" name="idRecord">
			    <input type="hidden" name="checkedDate">
		        <input type="hidden" name="checkedTime">
		        <input type="hidden" name="checkedMaster">
				<button class="button open green">Открыть заявку</button>
			<p class="di">
				<button class="button psk green">ПСК</button>
			<p>
			<p class="di">
				<button class="button out red">Out</button>
			<!--<p class="di">-->
		        <!--<a href="#select-master-wrap" class="open-dialog button selectMaster red" style="line-height: 20px;height: 60px;vertical-align: middle;width: 140px;padding: 10px 0;margin-top: -4px">Передать мастеру</a>-->
		      <!--<p class="di">-->
		        <!--<a href="#" class="button receive_kc blue">Вернуть в кц</a>-->
		</div>
	</div>
	<div class="col-md-2 wrap-lf">
		<div id="datepicker" class="datepicker" style="font-size:11px;"></div>
		<div class="cont">
			<h3>Доп. аргументы</h3>
			<div class="box">
				<ul id="list-promises"></ul>
			</div>
		</div>
	</div>
</form>
