<!--# include file="_menu_form.html"-->
<form class="wrap-content" id="clientKoles">
  <div method="post" class="col-md-10 cont" style="padding: 0;">
    <!--# include file="_diagram.html"-->
    <div id="Client" class="col-md-8">
      <p class="di">
          <label for="name">
              <span>Клиент:</span>
              <br>
              <input type="text" tabindex="1" name="name" class="find-info long" required>
              <a href="#" class="del"><i class="fa fa-times" aria-hidden="true"></i></a>
          </label>
          <ul id="list-clients"></ul>
          <input type="hidden" name="idContragent" required>
          <input type="hidden" name="idCustomer" required>
      <p class="di">
        <label for="tel">
          <span>Телефон:</span><br>
          <a href=#><i class="fa fa-phone" aria-hidden="true" onclick="call_init(tel.value)"></i></a>
          <input type="tel" tabindex="2" name="tel" class="find-info long" required>
          <a href="#" class="del"><i class="fa fa-times" aria-hidden="true"></i></a>
        </label>
        <ul id="list-clients-by-tel"></ul>
      <p class="di">
          <label for="auto">
              <span>Авто:</span><br>
              <a href="#addNewAuto" class="open-dialog"><i class="fa fa-plus" aria-hidden="true"></i></a>
              <input type="text" tabindex="3" name="auto" class="find-info long" required>
              <a href="#" class="del"><i class="fa fa-times" aria-hidden="true"></i></a>
          </label>
          <ul id="list-cars"></ul>
          <input type="hidden" name="carId" required>
      <p class="di">
        <span style="margin-right: 10px">Гарантия?:</span>
        <label>да <input style="margin-left: 2px" type="radio" name="garantee" value="yes" checked></label>
        <label style="margin-left: 20px">нет <input style="margin-left: 2px" type="radio" name="garantee" value="no"></label>
    </div>
    <div class="col-md-4 history">
      <h3>История</h3>
      <div class="box">
        <ul></ul>
      </div>
    </div>
    <div class="col-md-12">
      <label>
        <input name="diagnostik" type="radio" value="know">
        Знает точно что нужно
      </label>
      <label style="margin-left: 20px">
        <input name="diagnostik" type="radio" value="notKnow">
        Нужна диагностика
      </label>
      <ul class="border" id="list-scripts"></ul>
      <p class="di">
        <input type="hidden" name="idRecord">
		<input type="hidden" name="checkedDate">
        <input type="hidden" name="checkedTime">
        <input type="hidden" name="checkedMaster">
        <a href="#" class="button out sm red">Out</a>
      <p class="di">
        <a href="#" class="button psk sm green">ПСК</a>
      <div class="checkedTime hideShowBlocks">
        <p class="di" style="margin-left: 20px;font-size: 22px">
          Записать на <b id="checkedTimeShow"></b>:
        <p class="di">
          <button class="button now sm blue">Записать</button>
      </div>
      <div class="notcheckedTime hideShowBlocks">
        <p class="di" style="margin-left: 20px;font-size: 22px">
          Записать:
        <p class="di">
          <a href="#" class="button today blue">Сегодня <span></span></a>
        <p class="di">
          <a href="#" class="button tomorrow blue">Завтра <span></span></a>
      </div>
      <p class="di">
        <a href="#select-master-wrap" class="open-dialog button selectMaster red" style="line-height: 20px;height: 60px;vertical-align: middle;width: 140px;padding: 10px 0;margin-top: -4px">Передать мастеру</a>
      <!--<p class="di">-->
        <!--<a href="#" class="button receive_kc blue">Вернуть в кц</a>-->
    </div>
  </div>
  <div class="col-md-2 wrap-lf">
    <div id="datepicker" class="datepicker" style="font-size:11px;"></div>
    <div class="cont">
      <h3>Доп. аргументы</h3>
      <div class="box">
        <ul id="list-promises"></ul>
      </div>
    </div>
  </div>
</form>


<form id="addNewAuto" title="Добавить новое авто" style="display: none;width: 600px;">
  <p class="di">
    <label for="model">
        <span>Модель:</span>
        <br>
        <input type="text" name="model" class="find-info long" required>
        <a href="#" class="del"><i class="fa fa-times" aria-hidden="true"></i></a>
    </label>
    <ul id="list-models"></ul>
    <input type="hidden" name="modelId" required>
  <p>
    <label for="vin">
      <span>VIN:</span><br>
      <input type="text" name="vin" required>
    </label>
  <p>
    <label for="gn">
      <span>Г/н:</span><br>
      <input type="text" name="gn" required>
    </label>
  <p style="text-align: center;">
    <button type="submit" class="blue button">Добавить авто</button>
</form>


<div id="select-master-wrap" title="Передать мастеру" style="display: none;">
  <ul id="select-master"></ul>
  <p style="text-align: center;margin-top: 10px;"><button class="button sm blue">Отправить</button>
</div>

