<!--# include file="_menu_form.html"-->
<form class="wrap-content" id="client-form">
    <div method="post" class="col-md-10 cont" style="padding: 0;">
        <div class="diagram" id="diagram">
            <div class="col-xs-2 left-col">
                <div class="top">
                    Ресурсы
                </div>
                <div id="masters"></div>
            </div>
            <div class="col-xs-10">
                <div class="top nop">
                    <div class="half date" id="date_diagram"></div>
                    <div class="half time" id="els-scala"></div>
                </div>
                <div id="records"></div>
            </div>
        </div>
        <div id="Client" class="col-md-8">
            <p class="di">
                <label for="name">
                    <span>Клиент:</span>
                    <br>
                    <input type="text" tabindex="1" name="name" class="find-info long" required>
                    <a href="#" class="del"><i class="fa fa-times" aria-hidden="true"></i></a>
                </label>
                <ul id="list-clients"></ul>
				<input type="hidden" name="idContragent" required>
				<input type="hidden" name="idCustomer" required>
                <p class="di">
                    <label for="tel">
                        <span>Телефон:</span>
                        <br>
                        <a href=#><i class="fa fa-phone" aria-hidden="true" onclick="call_init(tel.value)"></i></a>
                        <input type="tel" tabindex="2" name="tel" class="long" required>
                    </label>
                <p class="di">
                    <label for="auto">
                        <span>Авто:</span>
                        <br>
                        <input type="text" tabindex="3" name="auto" class="find-info" style="width: 500px" required>
                        <a href="#" class="del"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </label>
                    <ul id="list-cars"></ul>
                    <input type="hidden" name="carId" required>
        </div>
        <div class="col-md-4 history">
            <h3>История</h3>
            <div class="box">
                <ul></ul>
            </div>
        </div>
        <div class="col-md-12">
            <label>
                <input type="checkbox" name="to0">
                <b>ТО-0</b>
            </label>
            <ul class="border" id="list-scripts"></ul>
            <p class="di">
                <input type="hidden" name="idRecord">
                <input type="hidden" name="checkedDate">
                <input type="hidden" name="checkedTime">
                <input type="hidden" name="checkedMaster">
                <button class="button out red">Out</button>
            <p class="di">
                <button class="button psk green">ПСК</button>
            <p class="di" style="margin-left: 50px;font-size: 22px">
                <a href="#" class="order" style="color: #333">Записать</a>
            <p class="di">
                <button class="button data30 blue">ДАТА +30 дн</button>
            <p class="di">
                <a href="#select-master-wrap" class="open-dialog button selectMaster red" style="line-height: 20px;height: 60px;vertical-align: middle;width: 140px;padding: 10px 0;margin-top: -4px">Передать мастеру</a>
            <!--<p class="di">-->
                <!--<a href="#" class="button receive_kc blue">Вернуть в кц</a>-->
        </div>
    </div>
    <div class="col-md-2 wrap-lf">
        <div id="datepicker" style="font-size:11px;"></div>
        <div class="cont">
            <h3>Доп. аргументы</h3>
            <div class="box">
                <ul id="list-promises"></ul>
            </div>
        </div>
    </div>
</form>
