<!--# include file="_diagram.html"-->

<div class="row events">

	<div class="col-xs-6 left">
		<div class="top">
			События срочные
		</div>
		<ul class="list" id="urgentEvents"></ul>
	</div>

	<div class="col-xs-6 right">
		<div class="top">
			Плановые события
		</div>
		<ul class="list" id="scheduledEvents"></ul>
	</div>

</div>
