<div class="wrap-content">
  <div class="col-md-10 cont">
    <form id="orderToMaster" method="post" class="col-md-9">
      <h2>Оформление заезда</h2>
      <p>
        <label for="vin">
          <span>VIN:</span><br>
          <input type="text" name="vin" id="vin" required>
        </label>
        <input type="checkbox" name="checkVIN" id="checkVIN" required>
        <label for="checkVIN">VIN сверен</label>
      <p>
        <label for="gn">
          <span>Г/н:</span><br>
          <input type="text" name="gn" id="gn" required>
        </label>
        <input type="checkbox" name="checkgn" id="checkgn" required>
        <label for="checkgn">Гос. номер сверен</label>
      <p>
        <label for="name">
          <span>Клиент:</span><br>
          <input type="text" name="name" id="name" required>
        </label>
      <p>
        <label for="tel">
          <span>Телефон:</span><br>
          <input type="tel" name="tel" id="tel" required>
        </label>
        <input type="checkbox" name="checktel" id="checktel" required>
        <label for="checktel">Номер телефона сверен</label>
      <p>
        <label for="probeg">
          <span>Пробег:</span><br>
          <input type="text" name="probeg" id="probeg" required>
        </label>
        <input type="checkbox" name="checkprobeg" id="checkprobeg" required>
        <label for="checkprobeg">Пробег верен</label>
      <p>
        <label for="reason">
          <span>Причина обращения со слов клиента:</span><br>
          <textarea name="reason" id="reason" required></textarea>
        </label>
      <p>
        <input type="checkbox" name="confirm" id="confirm" required>
        <label for="confirm">Я <span id="сontragentStr"></span> правильность данных подтверждаю</label>
      <p>
        <input type="hidden" name="idRecord" id="idRecord">
        <button class="button green" type="submit" disabled>Передать мастеру</button>
    </form>

    <div class="col-md-3 history">
      <h3>История</h3>
      <div class="box">
        <ul></ul>
      </div>
    </div>

  </div>

  <div class="col-md-2 wrap-lf">
    <div class="cont">
      <h3>Обещания</h3>
      <ul id="promises"></ul>
    </div>
  </div>

</div>
