<form class="wrap-content" id="orderExtradition">
    <div method="post" class="col-md-10 cont">
        <div class="col-md-6">
            <h2>Выдача автомобиля</h2>
            <p>
                <label for="name">
                    <span>Клиент:</span>
                    <br>
                    <input type="text" name="name" disabled>
                </label>
            <p>
                <label for="tel">
                    <span>Телефон:</span>
                    <br>
                    <input type="tel" name="tel" disabled>
                </label>
            <p>
                <label for="name">
                    <span>Авто:</span>
                    <br>
                    <input type="text" name="auto" disabled>
                </label>
            <p>
                <label for="probeg">
                    <span>Пробег:</span>
                    <br>
                    <input type="text" name="probeg" disabled>
                </label>
        </div>
        <div class="col-md-6 script">
            <h3>Скрипт</h3>
            <div class="box">
                <ul id="scripts"></ul>
            </div>
        </div>
        <div class="col-md-12">
            <p>
                <input type="checkbox" name="confirm" id="confirm">
                <label for="confirm">По выполненным работам и по цене вопросов не осталось</label>
            <p>
                <input type="hidden" name="idRecord">
                <a href="#" id="openPDF_ZN" class="button">Распечатать з/н</a>
                <!-- <a href="#" class="button getPayment blue">Принять оплату</a> -->
                <a href="#" class="button psk green">ПСК</a>
            <p>
                <button class="button return red">Возврат на ремзону</button>
                <textarea name="reason" placeholder="Комментарий причин возврата и недовольства"></textarea>
        </div>
    </div>
    <div class="col-md-2 wrap-lf">
        <div class="cont">
            <h3>Не выполнено</h3>
            <div class="box">
                <ul id="not-done"></ul>
            </div>
            <br>
            <br>
            <h3>Скоро акции</h3>
            <div class="box">
                <ul id="promo"></ul>
            </div>
        </div>
    </div>
</form>