<textarea id="template_missed" style="display:none">
    <tr>
        <th class="text-center">Клиент</th>
        <th class="text-center">Организация</th>
        <th class="text-center">Ожидание</th>
    </tr>
    {#foreach $T.data as call}
    <!--
    <tr id="call{$T.call$iteration}" class="{$T.call.class} ">
    -->
    <tr id="call{$T.call$iteration}" class="{$T.call.class} " onclick="missed_call('{$T.call.e_ref}')">
        <td>
            {$T.call.c_name}
            <span style="display:none">{$T.call.c_ref}</span>
        </td>
        <td class="text-center">
             {#if $T.call.vd == 0}
                {$T.call.o_name} (Автосалон)
            {#elseif $T.call.vd == 1}
                {$T.call.o_name} (СТО)
            {#elseif $T.call.vd == 2}
                {$T.call.o_name} (Запчасти)
            {#elseif $T.call.vd == 3}
                {$T.call.o_name} (Прочее)
            {#elseif $T.call.vd == 4}
                {$T.call.o_name} (Страхование)
            {#else}
                {$T.call.o_name}
            {#/if}
            <span style="display:none">{$T.call.o_ref}</span>
        </td>
        <td class="text-center waiting">{$T.call.waiting} мин</td>
    </tr>
    {#/for}

    {#for index = 10 to $T.count step=-1}
    <tr>
        <td nowrap>&nbsp;</td>
        <td class="text-center">&nbsp;</td>
        <td class="text-center waiting"></td>
    </tr>
    {#/for}

</textarea>

<div class="agrad-blue">
    <h4 class="text-center">Пропущенные звонки</h4>
    <table id="missed_calls" class="table table-hover missed table table-bordered table-condensed"></table>
</div>
