<textarea id="template_online" style="display:none">
    <tr>
        <th class="text-center">Клиент</th>
        <th class="text-center">Организация</th>
    </tr>
    {#foreach $T.data as call}
    <tr id="call{$T.call$iteration}" onclick="call_answer('{$T.call.rtc_id}')">
        <td nowrap>
            {#if $T.call.real }<b>{#/if}
            {$T.call.c_name}
            {#if $T.call.real }</b>{#/if}
            <span style="display:none">{$T.call.c_ref}</span>
        </td>
        <td class="text-center">
            {#if $T.call.vd == 0}
                {$T.call.o_name} (Автосалон)
            {#elseif $T.call.vd == 1}
                {$T.call.o_name} (СТО)
            {#elseif $T.call.vd == 2}
                {$T.call.o_name} (Запчасти)
            {#elseif $T.call.vd == 3}
                {$T.call.o_name} (Прочее)
            {#elseif $T.call.vd == 4}
                {$T.call.o_name} (Страхование)
            {#else}
                {$T.call.o_name}
            {#/if}
            <span style="display:none">{$T.call.o_ref}</span>
        </td>
    </tr>
    {#/for}

    {#for index = 10 to $T.count step=-1}
    <tr>
        <td nowrap>&nbsp;</td>
        <td class="text-center">&nbsp;</td>
    </tr>
    {#/for}

</textarea>

<div class="agrad-blue">
    <h4 class="text-center">Журнал звонков</h4>
    <table class="table table-hover table table-bordered table-condensed">
      <tr>
          <th class="text-center">Клиент</th>
          <th class="text-center">Организация</th>
      </tr>
      <tbody id=online_calls>	  
      <tr onclick="call_answer('{$T.call.rtc_id}')" id=call_inbound_line style="display: none">
          <td >
              Имя клиента
          </td>
          <span id=c_ref_in style="display:none">c_ref</span>
          <span id=o_ref_in style="display:none">o_ref</span>
          <td class="text-center">
              Организация
          </td>
      </tr>
      <tr id=call_proceed_line style="display: none; color: #AAAAAA">
          <td >&nbsp;</td>
          <td class="text-center">&nbsp;</td>
      </tr>
      </tbody>
    </table>
</div>

