<!--#include file="_managers.html"-->
<!--#include file="_targets.html"-->

<div class="container-fluid zvonki2">
<form id="call_form" action="/call/form" method="post">

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-7" style="margin-top: 20;">
			<!-- -->
			<div class="row">
				<div class="col-md-4 agrad-blue zv2-tp">
					<div>
						<label class="float-left inline-block" for="o_ref">Орг:</label>
						<div class="take-up-remaining-space" ng-controller="orgs">
							<select id="o_ref" name="o_ref" style="text-align: center" class=form-control
                                ng-change="select(org)" ng-model="org"
                                ng-options="org.ref as org.name for org in orgs | orderBy:'-order'"
                                >
                                <option></option>
							</select>
							<br />
						</div>
					</div>
					<br />
					<div>
						<label class="float-left inline-block" for="c_name">Клиент:</label>
						<div class="take-up-remaining-space">
							<input name="c_name" type="text" class="form-control" id="c_name" value="" style="font-size: 16px;"/>
							<input type=hidden name=c_ref id=c_ref value="" />
						</div>
					</div>
				</div>		
				<div class="col-md-8 zv2-rt">
					<div class="agrad-blue">
						<div class="text-center"><label>Цель звонка</label></div>
						<div class="buttons">
							<div id="targets" ng-controller="deps">
                <span  style="padding-top: 20px;" class="btn btn-warning btn-lg"
                        ng-repeat="dep in deps | orderBy:'order'" ng-model="dep"
                        ng-click="select(dep)"
                  >
                  <input type=radio name=target value={{dep.ref}} />{{dep.name}}
                </span>
							</div>
						</div>
					</div>
				</div>			
			</div>
		
			<div class="row">
				<div class="col-md-4 agrad-blue zv2-lb">
					<div id="fio_container">
						<div>
							<label class="float-left inline-block" for="c_phones">Телефоны:</label>
							<div class="take-up-remaining-space">
								<div id=c_phones class="form-group">
								  <div class="input-group">
									<span onclick="onclick_cb(this.nextElementSibling);" class="input-group-addon green btn btn-sm btn-success glyphicon glyphicon-phone"></span>
									<input id="phone_0" name="c_phone" type="text" class="c_phone form-control phone ui-autocomplete-input" value="" autocomplete="off">
								  </div>
								</div>
								<button type="button" onclick="add_phone()" class="btn btn-warning btn-lg btn-block">Добавить номер</button>
							</div>
						</div>
						<div class="form-group">
							<label for="c_email">Email:</label>
							<div class="input-group" id="c_email">
								<input name="email_user" type="text" class="form-control" id="email_user" value="" maxlength=50 />
								<span class="input-group-addon">@</span>
								<input name="email_host" type="text" class="form-control" id="email_host" value="" maxlength=50 />
							</div>
						</div>
					</div>
					<div id="memo_container">
						<div class="form-group">
							<input type="checkbox" value="campaign" name="campaign" id="campaign" class="form-control float-left inline-block"
								style='width: 30px; height: 25px;'>&nbsp;
							<label for="campaign">Акция</label>
						</div>
					</div>
					<br />
				</div>
				<div class="col-md-8 zv2-rb">
					<div id="managers_list" class="agrad-blue clearfix" style="height:430px">
						<div id="qstring" class="col-xs-12" style="display:none; margin: -8px 0px 4px;">
							<label class="pull-left" style="margin: 0 6px 0 0;">Поиск:</label>
							<div onclick="get_contacts(input_qstring.value)" class="btn btn-lg btn-success pull-right" style="margin: -2px 0 0 11px;">Найти</div>
							<div class="take-up-remaining-space" style="">
								<input id="input_qstring" name="qstring" onchange="get_contacts(this.value)" type="text" class="form-control" value="" style="display: block;">
							</div>
						</div>

						<!--# include file="_text_module.html"-->
						<div id=selector align=center style="margin-top: 25px">
						</div>
						<!--# include file="_service.html"-->
						<div class="table" id=managers_container ng-controller="managers">
							<div class="col-md-12" ng-class="{ 'col-md-10': d_phones.phone }" id=manager_table>
								<table class="table table-hover table table-bordered table-condensed callform" id="managers">
									<tr>
										<th>ФИО менеджера</th>
										<th class="text-center">&nbsp;</th>
										<th class="text-center">Вн.</th>
										<th class="text-center">Номер тел.</th>
									</tr>
									<tbody id="m_tbody" style="max-height: 330px; overflow: auto;" >
                    <tr onclick="select_managers(this)"
                      ng-repeat="manager in managers | orderBy:'-e_count'" ng-model="manager"
											>
                      <td width=100%>
                        <input type=radio name=manager class=manager value={{manager.ref}}  />
                        <div>
                          <span class="btn btn-lg phone-status {{manager.status}}" onclick="call_manager(this)"></span>
                          {{manager.name}}
                        </div>
                      </td>
                      <td class="text-center">
                        <span>{{manager.e_count}}</span>
                      </td>
                      <td class="number text-center" style="width:20%">
                        <span class="label label-primary call-button phone" ng-show="manager.phone" onclick="onclick_cb(this)">
                          {{manager.phone}}
                        </span>
                      </td>
                      <td class="number text-center" style="width:20%">
                        <span class="label label-primary call-button cell" ng-show="manager.cell" onclick="onclick_cb(this)">
                          {{manager.cell}}
                        </span>
                      </td>
                    </tr>
                  </tbody>
								</table>
							</div>
							<div class="col-md-2" ng-show="d_phones.phone">
								<button type="button" class="btn btn-warning btn-lg btn-block zv2-ce" id="call_dep_btn">
									Звонок<br>всем<br>
                  <br>
									<span id=label_phone class="label label-primary group">{{d_phones.phone}}</span>
								</button>
							</div>
						</div>
					</div>
					<div id="abuse_container" class="agrad-blue clearfix" style="height: 430px; display:none;">
						<div class="pull-right" style="width: 293px;padding: 0 0 0 15px;">
							<table id="tab_abuse" class="table table-hover table table-bordered table-condensed" style="height: 100%;">
								<tbody>
									<tr>
										<th>ТЗК</th>
										<th>-</th>
									</tr>
									<tr>
										<td>Работа МП (работа с клиентом)</td>
										<td><input id="v_mp" name="v_abuse" type="checkbox" style="display: inherit !important;" value="0" onclick="(this.checked)? this.value = -1 : this.value = 0 "></td>
									</tr>
									<tr>
										<td>Работа цеха (некачественно выполнен ремонт)</td>
										<td><input id="v_dep" name="v_abuse" type="checkbox" style="display: inherit !important;" value="0" onclick="(this.checked)? this.value = -1 : this.value = 0"></td>
									</tr>
									<tr>
										<td>Срок ремонта (долго авто находилась в ремзоне, долгий ремонт)</td>
										<td><input id="v_time" name="v_abuse" type="checkbox" style="display: inherit !important;" value="0" onclick="(this.checked)? this.value = -1 : this.value = 0"></td>
									</tr>
									<tr>
										<td>Запчасти (отсутствие)</td>
										<td><input id="v_parts" name="v_abuse" type="checkbox" style="display: inherit !important;" value="0" onclick="(this.checked)? this.value = -1 : this.value = 0"></td>
									</tr>
									<tr>
										<td>Повторные обращения</td>
										<td><input id="v_re" name="v_abuse" type="checkbox" style="display: inherit !important;" value="0" onclick="(this.checked)? this.value = -1 : this.value = 0"></td>
									</tr>
									<tr>
										<td>Цена</td>
										<td><input id="v_price" name="v_abuse" type="checkbox" style="display: inherit !important;" value="0" onclick="(this.checked)? this.value = -1 : this.value = 0"></td>
									</tr>
									<tr>
										<td>Другое</td>
										<td><input id="v_other" name="v_abuse" type="checkbox" style="display: inherit !important;" value="0" onclick="(this.checked)? this.value = -1 : this.value = 0"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="take-up-remaining-space">
							<div class="pull-left" style="height: 100%;">
								<label class="input-group-btn" for="abuse_text" style="padding: 0;">Комментарий:</label>
								<textarea  id="abuse_text" rows="5" class="form-control take-up-remaining-space" style="background-color: white; height: 93%;"></textarea>
							</div>
						</div>
					</div>
					<div id="abuse_end" onclick="abuse = true; check_call_form();" class="btn-success btn btn-lg zv2-taken pull-right" style="display:none;">Завершить
					</div>
					<div id="buttons_form" style="margin: 11px 0 0 0;">
						
						<div onclick="abuse_btn()" class="btn btn-danger btn-lg col-xs-3" style="border-color: white;">Претензия
						</div>
						<div id="busy_button" onclick="action.value = 'busy'; check_call_form();" class="btn btn-danger btn-lg col-xs-6" style="border-color: white;">
							Руководителю
							<span id="r_sms"> + SMS</span>
						</div>
						<!--
						<div id="group_button" onclick="action.value = 'group'; check_call_form();" class="btn btn-success btn-lg col-xs-6" style="border-color: white;">
							На подразделение
						</div>-->
						
						<div id="serv_send" onclick="service_send()" class="btn-success btn btn-lg col-xs-3" style="display:none; border-color: white;">Завершить
						</div>
						<div id="cf_butt" type="button" onclick="check_call_form();" class="btn btn-success btn-lg col-xs-3" style="border-color: white;">Завершить
						</div>
						
					</div>
				</div>
				
				<br />
				<input type=hidden name=action id=action value="send" />
				<input type=hidden name=uid id=uid value="UID KEEPS IN WS SESSION!" />
				<input type=hidden name=d_phone id=d_phone value="" />
				<input type=hidden name=r_phone id=r_phone value="" />
				<input type=hidden name=d_ref id=d_ref value="" />
				<input type=hidden name=e_ref id=e_ref value=""/>
				<input type=hidden name=missed id=missed />

			</div>
		</div>
		
		<div class="col-md-3 agrad-blue zv2-tp"  style="margin-top: 20;">
		<!--лента событий-->		
			<div>
				<div class="text-center">
				<label>Лента событий</label></div>
			</div>
			
			<div class="take-up-remaining-space">
				<div id="comment_editor_v2" contenteditable="true" class=form-control onkeyup=onkeyup_ce(this)></div>
			</div>
			
			<div> &nbsp
			</div>
			
			<div class="table" id=events_container>
				<div class="col-md-12" id=events_table>
					<table class="table table-hover table table-bordered table-condensed callform" style="table-layout: fixed; word-break: break-all; font-size: 12px;">
						<thead>
							<th class="text-center">Дата</th>
							<th class="text-center">Событие</th>
							<th class="text-center">Менеджер</th>
						</thead>
						<tbody id="events" >
						</tbody>
					</table>
				</div>				
			</div>
			
		</div>		
		
		<div class="col-md-1"></div>
		
    </div>

    <br />
    
   
</div>
</form>
