<textarea id="template_done" style="display:none">
    <tr>
        <th class="text-center">Клиент</th>
        <th class="text-center">Организация</th>
    </tr>
    {#foreach $T.data as call}
    <tr id="call{$T.call$iteration}" onclick="call_answer('{$T.call.rtc_id}')">
        <td nowrap>
            {$T.call.c_name}
            <span style="display:none">{$T.call.c_ref}</span>
        </td>
        <td class="text-center">
            {$T.call.o_name}
            <span style="display:none">{$T.call.o_ref}</span>
        </td>
    </tr>
    {#/for}

    {#for index = 10 to $T.count step=-1}
    <tr>
        <td nowrap>&nbsp;</td>
        <td class="text-center">&nbsp;</td>
    </tr>
    {#/for}

</textarea>

<div class="agrad-blue">
    <h4 class="text-center">Отработанные звонки</h4>
    <table id="done_calls" class="table table-hover table table-bordered table-condensed"></table>
</div>

