<div id="comment_editor" contenteditable="true"></div>
<textarea readonly name="comment" id="c_memo" rows="8" class="form-control" style="background-color: white" onclick="document.getElementById('comment_editor').focus()" >
</textarea>
