<textarea id="template_contacts" style="display:none">
    {#foreach $T.data as manager}
    <tr id="contact{$T.manager$iteration}" style="height: 68px">
        <td>
            <div>
                <div style='margin: 5px;'>
                    <span class="phone-status {$T.manager.status}"></span>
                    <b>{$T.manager.name}</b><br />
                    <i>{$T.manager.d_name}</i>
                </div>
                
                <div style='margin: 5px; float: right'>
                    <span class="label label-primary call-button phone">{$T.manager['dep_phone']}</span>
                    <span class="label label-primary call-button phone">{$T.manager['phone']}</span>
                    <span class="label label-primary call-button cell">{$T.manager['cell']}</span>
                </div>
            </div>
        </td>
    </tr>
    {#/for}
</textarea>

<div class="agrad-blue">
    <h4 class="text-center">Контакты</h4>
    <div class="form-group">
        <input name="qstring" onchange="get_contacts(this.value)"  type="text" class="form-control" id="qstring" value="" />
    </div>
    <div class="table" style="height:292px;overflow:auto;">
        <table id="contacts" class="table table-hover table table-bordered table-condensed">
        </table>
    </div>
</div>
