        <!-- END BASE -->
    </div>
</div>
<span id="status_calls"></span><div id="status_monitor"></div>
<div id=footer> &copy; Автоград 2013 - 2016 <br />
    <a href=mailto:CRM@agrad.ru style="color:lightgrey">CRM@agrad.ru</a>
    <a href=# onclick="call_init('7099')" style="color:lightgrey">7099</a>
</div>

</body>
</html>
