<textarea id="template_managers" style="display:none">
% if 'call' in vars() and call:
    <thead id="m_thead" style="display: inherit; width: 100%;">
        <tr>
            <th>Менеджер</th>
            <th class="text-center">&nbsp;</th>
            <!--
            <th class="text-center">вн.</th>
            <th class="text-center">моб.</th>
            <th class="text-center">SMS</th>
            -->
        </tr>
    </thead>
% end
        <tbody id="m_tbody" style="max-height: 330px; overflow: auto; display: none;">
        {#foreach $T.data as manager}
        <tr id="manager{$T.manager$iteration}" onclick="select_managers(this)">
            <td width=100%>
                <input type=radio name=manager class=manager value={$T.manager.ref}  />
                <div>
                    <span class="btn btn-lg phone-status {$T.manager.status}" onclick="call_manager(this)"></span>
                    {$T.manager.name}
                </div>
            </td>
            <td class="text-center">
                <span>{$T.manager.e_count}</span>
            </td>
            <td class="number text-center" style="width:20%">
              <span class="label label-primary call-button phone" onclick="onclick_cb(this)">
              {$T.manager['phone']}
              </span>
            </td>
            <td class="number text-center" style="width:20%">
              <span class="label label-primary call-button cell" onclick="onclick_cb(this)">
              {$T.manager['cell']}
              </span>
            </td>
            <!--
            <td class="number text-center" style="width:20%">
              <button type="button" onclick="send_results()" class="btn btn-success btn-smbtn-block">&nbsp;+&nbsp;</button>
            </td>
            -->
        </tr>
        {#/for}
    </tbody>
</textarea>

