<script>
$(document).on('click', '.btns span', function(){
    radio = $(this).find('input:radio');
    radio.prop('checked', true);
    document.getElementById('d_phone').value = '';

    $('.btns span').removeClass("btn-success");
    $('.btns span').addClass("btn-warning");
    $(this).addClass("btn-success");
});
</script>
<br />
<div class="row">
  <div class="col-md-1"><!-- SPACE --></div>
  <div class="col-md-10"><!-- main page -->

    <div class="col-md-12 zv2-rt"><!-- TOP -->
      <div class="agrad-blue row">
        <div class="col-md-3">
            <span class="" >Клиент:</span><br />
            <label class="" id="ka"></label>
        </div>
        <div class="col-md-3">
            <span class=""  >Телефон:</span><br />
            <label class="" id="phone"></label>
            <div id="dialog" style="display:none" title="Выберите номер телефона"></div>
            <div id="drop_doc" style="display:none;" title="Пропустить документ">
                <textarea  rows="5" class="form-control" style="background-color: white" placeholder="Укажите здесь причину пропуска"></textarea>
                <div style="text-align:center; margin: 10px 0px 0 0;">
                    <div class="btn-success btn" onclick="fDrop_doc()">ОК</div>
                    <div class="btn-warning btn" onclick="$( '#drop_doc' ).dialog( 'close' );">Отмена</div>
                </div>
            </div>
            <!--select id="selectphone" onchange="g_number = this.value" class="form-control" style="display:none">
            </select--!>
        </div>
        <div class="col-md-3">
            <span class=""  >Бренд:</span><br />
            <label class="" id=brand></label>
        </div>
        <div class="col-md-3">
            <span class=""  >Автомобиль:</span><br />
            <label class="" id=model></label>
        </div>
      </div>
    </div>

    <br />

    <div id=step_container class="zv2-rt agrad-blue"><!-- MIDDLE -->
      <div id=step_body class="">
        <div id=step_text class="" style="height:400; position: relative"></div>
        <div id=step_buttons align="center" style="position: absolute; bottom: 25; width: 100%"></div>
      </div>
      <!--# include file="_table_service.html"-->
    </div>
    
    <br>

    <div class="col-md-12 zv2-rt"><!-- COMMENT -->
      <div class="row"> <!--DIV open-->
        <div id="memo_container" class="agrad-blue">
          <label class="float-left inline-block" for="comment_editor">Комментарий:</label>
          <div class="take-up-remaining-space">
            <textarea name="comment" id="comment" rows="5" class="form-control" style="background-color: white" ></textarea>
          </div>
        </div>
      </div> <!--DIV close-->
    </div>
  </div>
</div>
<input type=hidden id=zn_ref value="" />
