<div class="row" id="service_container" style="display: none">
    <div id="step1" class="col-md-12 zv2-rt step">
        <label>Давайте уточним автомобиль</label></br>
        <div class="col-md-6">
            <select id="service_am"  class="form-control" size="10">
            </select>
        </div>
        <div class="col-md-6">
            <label for="am_model" class="float-left inline-block" >Модель</label>
            <div class="take-up-remaining-space">
                <select id="am_model" class="form-control form-control take-up-remaining-space" onChange="setOtherModel(this)">
                </select>
            </div>
            <br />
            <label for="am_year" class="float-left inline-block" >Год выпуска</label>
            <div class="take-up-remaining-space">
                <input id="am_year" type="number" class="form-control" value=""  onchange="service_check_am('other')" />
            </div>
            <br />
            <label for="guarantee" class="float-left inline-block" >Гарантийный</label>
            <div class="take-up-remaining-space">
                <select id="guarantee" class="form-control"  onchange="service_check_am('other')">
                    <option>Нет</option>
                    <option>Да</option>
                </select>
            </div>
            <br />
            <button type="button" onClick="navigate('step', 2);" class="btn btn-success pull-right" style="display:none;">Далее <span class="glyphicon glyphicon-arrow-right"></span></button>
        </div>
    </div>

    <div id="step2" class="col-md-12 zv2-rt step" style="display: none">
        <label class="tmodule">{text_step2}</label></br>
        <label for="am_runkm" class="float-left inline-block" >Пробег</label>
        <div class="take-up-remaining-space">
            <input id="am_runkm" type="number" class="form-control" value=""  onkeyup="service_check_km()" onchange="service_check_km()"/>
        </div>
        <br />
        <button type="button" onClick="navigate('step', 3);" class="btn btn-success pull-right">Далее <span class="glyphicon glyphicon-arrow-right"></span></button>
    </div>

    <div id="step3" class="col-md-12 zv2-rt step" style="display: none">
        <label>Стоимость работ и материалов для Вашего автомобиля составит:&nbsp;<span id="cost"></span>&nbsp;руб.</label></br>
        <div style="overflow: auto;max-height: 251px;">
            <table class="table table-hover table table-bordered table-condensed callform" id="works" style="font-size: 0.96em">
            </table>
        </div>
        <br />
        <div class="pull-left btn btn-warning" onclick="service_show_managers()">Менеджер</div>
        <button type="button" onClick="navigate('step', 4);" class="btn btn-success pull-right">Далее <span class="glyphicon glyphicon-arrow-right"></span></button>
    </div>

    <div id="step4" class="col-md-12 zv2-rt step" style="display: none">
        <label class="tmodule">{text_step4}</label>
        <select id="service_time_our" size=3 class="form-control form-control take-up-remaining-space">
        </select>
        <br />
        <div align="center">
            <button type="button" onClick="navigate('step', '4n');" class="btn btn-warning">Другое время</button>
            <button type="button" onClick="navigate('step', '5');" class="btn btn-success" style="display:none;">Далее <span class="glyphicon glyphicon-arrow-right"></span></button>
        </div>
    </div>

    <div id="step4n" class="col-md-12 zv2-rt step" style="display: none; margin-top: -17px;height: 100%;">
        <label style="margin: 0;">В какой день недели вам было бы удобно?</label>
        <table class="table table-hover table table-bordered table-condensed callform" id="freetime" style="font-size: 0.834em"></table>
        <div class="col-md-5" style="padding-left: 0;">
            <label class="pull-left">Дата:&nbsp;</label>
            <div class="take-up-remaining-space">
                <input id="calendar_string" class="form-control" onmouseover="calendar_show('')" onmouseout="calendar_show('none')"/>
            </div>
            <div id="calender_container" class="table-bordered" style="font-size: 0.8em; position: absolute; z-index: 1; padding: 0px 10px; display: none; background: white;" onmouseover="calendar_show('')" onmouseout="calendar_show('none')" style="display:none">
            <div style="margin: 6px 0 6px 0;" >
                <input id="calendar_year" type="number" class="pull-right form-control" style="width: 77px; margin-left: 9px;" value=""  onchange="calendar_ChangeYear(this)" />
                <div class="btn pull-left" onClick="fill_ListMonth('left');" style="padding: 6px 0 6px 0;"><span class="glyphicon glyphicon-chevron-left"></span></div>
                <div class="btn pull-right" onClick="fill_ListMonth('right');" style="padding: 6px 0 6px 0;"><span class="glyphicon glyphicon-chevron-right"></span></div>
                <div class="take-up-remaining-space">
                    <select id="list_month" class="form-control form-control take-up-remaining-space" onChange="calendar_ChangeMonth(this)"></select>
                </div>
            </div>

            <table class="table table-hover table table-bordered table-condensed callform">
                <thead>
                    <th>Пн</th>
                    <th>Вт</th>
                    <th>Ср</th>
                    <th>Чт</th>
                    <th>Пт</th>
                    <th>Сб</th>
                    <th>Вс</th>
                </thead>
                <tbody id='calendar'>
                </tbody>
            </table>
        </div>
        </div>


        <button type="button" onClick="navigate('step','5'); service_final_text('other')" class="btn btn-success" style="display:none;position: absolute;bottom: -12px;right: 16px;">Далее <span class="glyphicon glyphicon-arrow-right"></span></button>
    </div>

    <div id="step5" class="col-md-12 zv2-rt step" style="display: none">
        <label id="finish_text" class="tmodule"></label>
    </div>
</div>
