
<div id="sip_buttons" style="display: none">
    <button id="sip_button_busy" type="button" onclick="busy();" class="sip_button btn btn-info">&nbsp;&nbsp;&nbsp;</button><br><br>
    <button id="sip_button_init" type="button" onclick="call_init();" class="green sip_button btn btn-success">&nbsp;&nbsp;&nbsp;</button><br><br>
    <!--
    <div id="sip_active_buttons" style="display: none;">
    <div id="sip_hold">
    -->
    <button id="sip_button_hold" type="button" onclick="call_hold();" class="sip_button btn btn-warning">H</button><br><br>
    <button id="sip_button_down" type="button" onclick="call_down();" class="sip_button btn btn-danger">&nbsp;&nbsp;&nbsp;</button><br><br>
    <!--
    </div>
    </div>
    -->
</div>
