<div id=tzk class="col-md-4 zv2-rt" style="display: none">
  <div class="agrad-blue clearfix" style="height: 400px; position: relative">
    <table class="table table-hover table table-bordered table-condensed" >
      <tr>
        <th>ТЗК</th>
        <th>+</th>
        <th>-</th>
      </tr>
      <tr>
        <td>Работа МП (работа с клиентом)</td>
        <td><input type=radio name=tzk1 value=1 /></td>
        <td><input type=radio name=tzk1 value=-1 /></td>
      </tr>
      <tr>
        <td>Работа цеха (некачественно выполнен ремонт)</td>
        <td><input type=radio name=tzk2 value=1 /></td>
        <td><input type=radio name=tzk2 value=-1 /></td>
      </tr>
      <tr>
        <td>Срок ремонта (долго авто находилась в ремзоне, долгий ремонт)</td>
        <td><input type=radio name=tzk3 value=1 /></td>
        <td><input type=radio name=tzk3 value=-1 /></td>
      </tr>
      <tr>
        <td>Запчасти (отсутствие)</td>
        <td><input type=radio name=tzk4 value=1 /></td>
        <td><input type=radio name=tzk4 value=-1 /></td>
      </tr>
      <tr>
        <td>Повторные обращения</td>
        <td><input type=radio name=tzk5 value=1 /></td>
        <td><input type=radio name=tzk5 value=-1 /></td>
      </tr>
      <tr>
        <td>Цена</td>
        <td><input type=radio name=tzk6 value=1 /></td>
        <td><input type=radio name=tzk6 value=-1 /></td>
      </tr>
      <tr>
        <td>Другое</td>
        <td><input type=radio name=tzk7 value=1 /></td>
        <td><input type=radio name=tzk7 value=-1 /></td>
      </tr>
    </table>
  </div>
</div>
