
<textarea id="template_targets" style="display:none">
    {#foreach $T.data as target}
		<span  style="padding-top: 20px;" class="btn btn-warning btn-lg">
			<input type=radio name=target value={$T.target.dep} id=target{$T.target.m} />{$T.target.name}
			<input type=hidden value={$T.target.r_phone} id=r_phone{$T.target.dep} />
			<input type=hidden value={$T.target.ref} id=d_ref_{$T.target.dep} />
		</span>
    {#/for}
</textarea>

