<!-- Загрузка -->
<div id="load" style="display: none">
    <div class="loading">
        <img src=/static/images/loading.gif />
    </div>
</div>

<div id="widgets" style="display: none">

    <!-- Ввод номера телефона -->
    <div id=ui_get_phone_number style="display: none" class="dialog_box">
      <input id="phone_number" type="text" class="form-control" value="" />
    </div>

    <!-- Окно ошибки -->
    <div id=ui_alert style="display: none" class="dialog_box">
      <label id="ui_alert_text"></label>
    </div>

    <!-- Список услуг -->
    <div id="price-list-cont" title="Список услуг" style="display: none;" class="dialog_box">
      <p>
        <input type="search" name="s" autocomplete="false" placeholder="Поиск..." style="width: 100%;margin: 0;padding: 0 10px">
      <p><ul id="list-services" style="max-height: 400px; font-size: 12px;"></ul>
    </div>

    <!-- Возражения -->
    <div id="deny-list-wrap" title="Работа с возвражениями" style="display: none;" class="dialog_box">
      <ul id="deny-list" class="list-open-items"></ul>
    </div>

    <!-- Спецпредложения -->
    <div id="spec-list-wrap" title="Специальные предложения" style="display: none;" class="dialog_box">
      <ul id="spec-list" class="list-open-items"></ul>
    </div>

    <!-- Рекомендации -->
    <div id="recomend-list-wrap" title="Рекомендации" style="display: none;" class="dialog_box">
      <ul id="recomend-list" class="list-open-items"></ul>
    </div>

    <!-- Входящий звонок -->
    <div id=dialog_inbound_call class="pop-wrap" title="Информация о событии">
     <p>
       Телефон: <span class="dialog_phone"></span>
     <p>
       <a href="#"
          class="btn-lg btn-success"
          onclick="front_call_answer()"
       ><i class="fa fa-phone" aria-hidden="true"></i></a>
       <a href="#"
          class="btn-lg btn-danger"
          onclick="front_call_down()"
       ><i class="fa fa-phone" aria-hidden="true"></i></a>
    </div>

    <!-- Инфо о событии -->
    <div class="pop-wrap dialog_box" title="Информация о событии" id="dialog_event_info">
        <form onsubmit="return">
            <fieldset>
                <input type="hidden" class="date" style="display: none">
                <input type="hidden" name="eventId" value="${id}"/>

                <p>
                    <a href="#" class="button action_do" style="display: block">
                        Выполнить сейчас
                    </a>
                </p>
                <p>
                    <a href="#" class="button action_postpone red" style="display: block">
                        Отложить
                    </a>
                </p>

                <div class="postpone" style="display: none">
                    <p>
                        <label for="time">Время:</label>
                        <input id="time" type="time" name="time" required class="ui-widget-content ui-corner-all">
                    </p>

                    <div class="datepicker" style="font-size:15px;"></div>
                </div>

            </fieldset>
        </form>
    </div>

    <!-- Закрытие заказ-наряда -->
    <div class="pop-wrap dialog_box" title="Закрытие заказ-наряда" id="dialog_close_deal">
        <p>
            <label style="white-space: normal; width: 100%">Клиент: <b class="c_name"></b></label>
        </p>
        <p>
            <label>Дата: <b class="e_date"></b></label>
        </p>
        <p>
            <label>Время: <b class="e_time"></b></label>
        <p>
        <!--<p>Статус: <b class="e_status"></b>-->
        <p class="center">
            <a href="#" class="button action_do">
                Выдать автомобиль
            </a>
        </p>
    </div>

    <!-- Закрытие заказ-наряда -->
    <div class="pop-wrap dialog_box" title="Выбор клиента" id="dialog_select_client" style="padding: 0;">
        <ul class="list-for-select"></ul>
    </div>

    <!-- Информация о записи-->
    <div class="pop-wrap dialog_box" title="Информация о записи" id="dialog_record_info">
        <p>Клиент: <b class="c_name"></b></p>
        <p>Дата: <b class="e_date"></b></p>
        <p>Время: <b class="e_time"></b><p>
        <!--<p>Статус: <b class="e_status"></b>-->
        <p class="center">
            <a href="#" class="button action_do">
                Информация по заявке
            </a>
        </p>
    </div>

    <!-- Создание записи -->
	<div class="pop-wrap dialog_box" title="Создание записи" id="dialog_create_record">
        <p>Мастер: <b class="m_name"></b></p>
        <p>Дата: <b class="e_date"></b></p>
        <p>Время: <b class="e_time"></b><p>
        <p class="center">
            <a href="#" class="button action_do">
            Создать запись
            </a>
        </p>
	</div>

    <!-- ПСК -->
    <div class="pop-wrap dialog_box" title="ПСК" id="dialog_plan_contact">
        <form class="action_do" onsubmit="return false;">
            <p>
                <label for="date">Дата:</label> 
                <input id="date" type="date" name="date" required>
            </p>
            <p>
                <label for="time">Время:</label> 
                <input type="time" id="time" name="time" required>
            </p>
            <p>
                <textarea name="comment" id="comment" style="height: 80px;width: 100%" placeholder="Комментарий"></textarea>
            </p>
            <p>
                <button type="submit" class="button blue action_do">
                Отправить
                </button>
                <input type="hidden" name="type" value="psk">
            </p>
        </form>
    </div>

    <!-- OUT -->
    <div class="pop-wrap dialog_box" title="OUT" id="dialog_out">
        <form class="action_do" onsubmit="return false;">
            <p>
                <textarea name="comment" id="comment" style="height: 80px;width: 100%" placeholder="Комментарий"></textarea>
            </p>
            <p>
                <button type="submit" class="button blue action_do">
                Отправить
                </button>
                <input type="hidden" name="type" value="out">
            </p>
        </form>
    </div>
</div>
