<!--# include file="_head.html"-->

<textarea id="template_users" style="display:none">
    <tr>
      <th colspan=4>Callcenter</th>
    </tr>
    {#foreach $T.data as user}
      {#if $T.user.path == '/call'}
        <tr id="user{$T.user$iteration}">
          <input type=hidden name=user class=user value={$T.user.ref}  />
          <td>
            <span onclick=kickout("{$T.user.ref}") class="phone-status red"></span>
            {$T.user.fullname}
          </td>
          <td>{$T.user.sip}</td>
          <td>{$T.user.ip}</td>
          <td>
            {#if $T.user._busy}
              {#if $T.user.active_call}
                {$T.user.active_call}
              {#else}
              <span class="phone-status red"></span>
              {#/if}
            {#else}
            <span class="phone-status green"></span>
            {#/if}
          </td>
        </tr>
      {#/if}
    {#/for}
    <tr>
      <th colspan=4>NPS</th>
    </tr>
    {#foreach $T.data as user}
      {#if $T.user.path == '/nps'}
        <tr id="user{$T.user$iteration}">
          <input type=hidden name=user class=user value={$T.user.ref}  />
          <td>{$T.user.fullname}</td>
          <td>{$T.user.phone}</td>
          <td colspan=2>{$T.user.ip}</td>
        </tr>
      {#/if}
    {#/for}
    <tr>
      <th colspan=4>Hostes</th>
    </tr>
    {#foreach $T.data as user}
      {#if $T.user.path == '/meet'}
        <tr id="user{$T.user$iteration}">
          <input type=hidden name=user class=user value={$T.user.ref}  />
          <td colspan=2>{$T.user.fullname}</td>
          <td colspan=2>{$T.user.ip}</td>
        </tr>
      {#/if}
    {#/for}
    <tr>
      <th colspan=4>Front</th>
    </tr>
    {#foreach $T.data as user}
      {#if $T.user.path == '/front' }
        <tr id="user{$T.user$iteration}">
          <input type=hidden name=user class=user value={$T.user.ref}  />
          <td>
            <span onclick=kickout("{$T.user.ref}") class="phone-status red"></span>
            {$T.user.fullname}
          </td>
          <td>{$T.user.sip}</td>
          <td>{$T.user.ip}</td>
          <td>
            {#if $T.user._busy}
              {#if $T.user.active_call}
                {$T.user.active_call}
              {#else}
              <span class="phone-status red"></span>
              {#/if}
            {#else}
            <span class="phone-status green"></span>
            {#/if}
          </td>
        </tr>
      {#/if}
    {#/for}
    <tr>
      <th colspan=4>Other</th>
    </tr>
    {#foreach $T.data as user}
      {#if $T.user.path != '/meet' && $T.user.path != '/call' && $T.user.path != '/nps' && $T.user.path != '/front'}
        <tr id="user{$T.user$iteration}">
          <input type=hidden name=user class=user value={$T.user.ref}  />
          <td colspan=2>{$T.user.fullname}</td>
          <td colspan=2>{$T.user.ip}</td>
        </tr>
      {#/if}
    {#/for}
</textarea>

<textarea id="template_online_calls" style="display:none">
    <tr>
      <th>Online</th>
      <th>Caller</th>
      <th>Client</th>
      <th></th>
      <th></th>
    </tr>
    {#foreach $T.data.active as call}
      <tr id="call{$T.call$iteration}">
        <td>{$T.call.o_name}</td>
        <td>{$T.call.caller}</td>
        <td>{$T.call.c_name}</td>
        <td>{$T.call.direction}</td>
        <td>
          {#if $T.call.e_status == 'connected'}
          <span class="phone-status green"></span>
          {#else}
          <span onclick=ws_send('x:self.ats.calls.pop("{$T.call.i_chain}").dict()') class="phone-status red"></span>
          {#/if}
          {$T.call.e_status}
        </td>
      </tr>
    {#/for}
    <tr>
      <th>Missed</th>
      <th>Caller</th>
      <th>Client</th>
      <th></th>
      <th></th>
    </tr>
    {#foreach $T.data.missed as call}
      <tr id="call{$T.call$iteration}">
        <td>{$T.call.o_name}</td>
        <td>{$T.call.caller}</td>
        <td>{$T.call.c_name}</td>
        <td>{$T.call.direction}</td>
        <td>
          {#if $T.call.e_status == 'connected'}
          <span class="phone-status green"></span>
          {#else}
          <span onclick=ws_send('x:self.ats.calls.pop("{$T.call.i_chain}").dict()') class="phone-status red"></span>
          {#/if}
          {$T.call.e_status}
        </td>
      </tr>
    {#/for}
    <tr>
      <th>Active</th>
      <th>Caller</th>
      <th>Client</th>
      <th></th>
      <th></th>
    </tr>
    {#foreach $T.data.other as call}
      <tr id="call{$T.call$iteration}">
        <td>{$T.call.o_name}</td>
        <td>{$T.call.caller}</td>
        <td>{$T.call.c_name}</td>
        <td>{$T.call.direction}</td>
        <td>
          {#if $T.call.e_status == 'connected'}
          <span class="phone-status green"></span>
          {#else}
          <span onclick=ws_send('x:self.ats.calls.pop("{$T.call.i_chain}").dict()') class="phone-status red"></span>
          {#/if}
          {$T.call.e_status}
        </td>
      </tr>
    {#/for}
</textarea>

<textarea id="template_cc_report" style="display:none">
    <tr>
      <th>Operator</th>
      <th>Call</th>
      <th>Client</th>
      <th>Out</th>
      <th>Total</th>
    </tr>
    {#foreach $T.data as str}
      <tr id="call{$T.call$iteration}">
        <td>{$T.str.op}</td>
        <td align=right>
          {$T.str.call}
        </td>
        <td align=right>
          {$T.str.client}
        </td>
        <td align=right>
          {$T.str.outcall}
        </td>
        <td align=right>
          {Number($T.str.outcall) + Number($T.str.client)}
        </td>
      </tr>
    {#/for}
</textarea>

<div id=main class=page_view>
  <div class="container-fluid zvonki2">
    <br />
    <div class="col-md-6 zv2-rt">
      <div class="agrad-blue clearfix">
        <label>Users</label>
        <table class="table table-hover table table-bordered table-condensed" id="users">
        </table>
      </div>
    </div>
    <div class="col-md-6 zv2-rt">
      <div class="agrad-blue clearfix">
        <label>Calls</label>
        <table class="table table-hover table table-bordered table-condensed" id="online_calls">
        </table>
        <label>OP Report</label>
        <table class="table table-hover table table-bordered table-condensed" id="cc_report">
        </table>
        <label>System Log</label>
        <table class="table table-hover table table-bordered table-condensed">
          <tr>
            <td>
            <div id=syslog style="height: 77px; width: 100%; font-size: small; overflow: scroll;"></div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!--# include file="_foot.html"-->
