<!--# include file="_head_front.html"-->
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-2 col-md-3 right-menu">
					<div class="top">
						<span>Сервис бюро Форд</span>
					</div>
					<div class="cont">
						<a href="#" class="created">Создать запись</a>
						<ul>
							<li>
								<a href="index.html">
									<i class="fa fa-bars" aria-hidden="true"></i>
									<span>Рабочий стол</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-user" aria-hidden="true"></i>
									<span>Клиенты</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-calendar" aria-hidden="true"></i>
									<span>Планировщик</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-file-text-o" aria-hidden="true"></i>
									<span>Отчеты</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-list-ul" aria-hidden="true"></i>
									<span>Журнал записи</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-money" aria-hidden="true"></i>
									<span>Зарплата</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-cogs" aria-hidden="true"></i>
									<span>Настройка</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-10 col-md-9 wrap">
					<div class="content">
						<div class="col-xs-6 left">
							<a href="#" class="active"><i class="fa fa-phone" aria-hidden="true"></i></a>
							<a href="#">
								<span id="numEvents"></span>
								<i class="fa fa-clock-o" aria-hidden="true"></i>
							</a>
							<a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
						</div>
						<div class="col-xs-6 right">
							<a href="#" class="set"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
							<div class="name">
								Оператор 1
							</div>
						</div>
					</div>
					<div class="wrap-content">
						<div class="col-md-10 cont" style="padding: 0;">
							<div id='script-warning'>
								Error getting data from <code>/data</code> endpoint.
							</div>

							<div id='loading'>loading...</div>

							<div id='calendar'></div>
						</div>
						<div class="col-md-2 wrap-lf">
							<div class="cont">
								<h3>Расписание</h3>
								<div class="box">
									<ul>
										<li>
											<label>
												Список дел
											</label>
										</li>
										<li>
											<label>
												Пропущенный звонок
											</label>
										</li>
										<li>
											<label>
												Просроченный заезд
											</label>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<!--# include file="_foot_front.html"-->
