<style>
video {
    border: 1px solid lightgrey;
}
</style>
<script type="text/javascript" src="/static/js/dist/sip.js"></script>
<video id="remoteStream"></video>
<video id="localStream" muted="muted"></video>
<button id="endCall">End Call</button>
<!-- sip.js is included by JsFiddle as External Resources -->

<script>
/*
 * Check out the full guide at
 *   http://sipjs.com/guides/make-call/
 *
 * This sample uses
 *   http://sipjs.com/download/sip-0.7.0.min.js
 *
 * Login with your developer account to receive calls at
 *   http://sipjs.com/demo-phone
 */

var session;

var endButton = document.getElementById('endCall');
endButton.addEventListener("click", function () {
    session.bye();
    alert("Call Ended");
}, false);

//Creates the anonymous user agent so that you can make calls
var userAgent = new SIP.UA({
  uri: '7009@192.168.5.55',
  wsServers: ['wss://192.168.5.55:7443'],
  authorizationUser: '7009',
  password: '01234'
});

//here you determine whether the call has video and audio
var options = {
    media: {
        constraints: {
            audio: true,
            video: false
        },
        render: {
            remote: document.getElementById('remoteStream'),
            local: document.getElementById('localStream')
        }
    }
};
//makes the call
session = userAgent.invite('2233', options);
</script>
