<!--# include file="_head.html"-->
<!--# include file="_sip_buttons.html"-->

<div id=sip_streams></div>
<div id=main class=page_view>
  <div class="container">
    <br />
    <div class="row">
      <div class="col-md-6">
        <!--# include file="_calls_active.html"-->
      </div>
      <div class="col-md-6">
        <!--# include file="_calls_missed.html"-->
      </div>
    </div>
  </div>
  
  <input type=hidden name=uid id=uid value="" />
</div>

<div id=form style="display: none;" class=page_view>
  <!--# include file="_call_form.html"-->
</div>
<div id=nps style="display: none;" class=page_view>
  <!--# include file="_nps.html"-->
</div>
<div id=wheel class=page_view>
  <img src=/static/images/loading.gif />
</div>
<!--# include file="_foot.html"-->
