<head>
  <title>Phone tester</title>
  <meta charset="utf-8">

  <link type="text/css" rel="stylesheet/less" href="/static/style/bootstrap/agrad.less">
  <link type="text/css" rel="stylesheet"      href="/static/style/main.css">
  <link type="text/css" rel="stylesheet"      href="/static/style/jquery-ui.css">

  <script> less = { env: "production", async: true, }; </script>
  <script type="text/javascript" src="/static/js/dist/less.js"></script>
  <script type="text/javascript" src="/static/js/dist/jquery.js"></script>
  <script type="text/javascript" src="/static/js/dist/jquery.cookie.js"></script>
  <script type="text/javascript" src="/static/js/dist/jquery-ui.js"></script>
  <script type="text/javascript" src="/static/js/dist/jquery.maskedinput.js"></script>
  <script type="text/javascript" src="/static/js/dist/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/dist/jquery-jtemplates_uncompressed.js"></script>

  <script type="text/javascript" src="/static/js/dist/diff.js"></script>
  <script>
  localuser = {
    name: 'test phoner',
  }
  GLOBALS = {
    ats_host: "192.168.5.73",
    ats_port: 8089,
  }
  testing = false
  busy = false
  user_sip = 7029
  activeView = false

  function ws_send(command, data) {
    console.log("WS SEND:", command, data)
  }

  function start_timer(command) {
    console.log("START TIMER:", command)
  }
  function loadJS(command) {
    console.log("Load JS:", command)
  }
  </script>
  <script type="text/javascript" src="/static/js/phoner.js"></script>
  <script type="text/javascript" src="/static/js/dist/sip.js"></script>

</head>

<video id="remoteStream" hidden=true></video>
<video id="localStream" hidden=true muted="muted"></video>
<video id="remoteView" hidden=true></video>
<video id="localView" hidden=true muted="muted"></video>

<br>
<div style="width: 300px; margin:0 auto;">
  <div id=sip_buttons>
    <input name="number" type="text" class="form-control" id="number" value="89292658262" />
    <br>
    <button id="sip_invite" type="button" onclick="call_init(number.value);" class="col-md-4 btn btn-success">Invite</button>
    <button id="sip_answer" type="button" onclick="sip_answer();" class="col-md-4 btn btn-warning">Answer</button>
    <button id="sip_hangup" type="button" onclick="call_down();" class="col-md-4 btn btn-danger">Hangup</button>
  </div>
  <div id=sip_active_buttons>Ready</div>
</div>

<script>
f_initphoner(user_sip)
</script>

