<!--# include file="_head.html"-->
<div id=login class="start_button page_view" style="margin-top: -100px; display: none">
    <div style="width: 200px; margin: 0 auto;">
        <form action="/login" method="post">
            <label for=username>Имя пользователя:</label><br />
            <input id=username class=form-control name="username" type="text" value="" style="text-align: center" onkeydown="if (event.keyCode == 13) authenticate()" /><br />
            <br />
            <label for=password>Пароль:</label><br />
            <input id=password class=form-control name="password" type="password" style="text-align: center" onkeydown="if (event.keyCode == 13) authenticate()" /><br />
            <br />
            <button type="button" onclick="authenticate()" class="btn btn-success">Вход</button>
        </form>
    </div>
</div>
<div id=selector class="start_button page_view" style="display: none">
    <div style="width: 200px; margin: auto;">
        <button id=engineer type="button" onclick="goAway = false; location.href = '/engineer'" class="col-sm-4 btn btn-success btn-lg btn-block">Механик</button>
        <button id=meet     type="button" onclick="goAway = false; location.href = '/meet'"     class="col-sm-4 btn btn-success btn-lg btn-block">Визит</button>
        <button id=call     type="button" onclick="goAway = false; location.href = '/call'"     class="col-sm-4 btn btn-success btn-lg btn-block">Контакт-центр</button>
        <button id=callback type="button" onclick="goAway = false; location.href = '/nps'"      class="col-sm-4 btn btn-success btn-lg btn-block">Звонки лояльности</button>
        <button id=front    type="button" onclick="goAway = false; location.href = '/front'"    class="col-sm-4 btn btn-success btn-lg btn-block">Фронт-Офис</button>
    </div>
</div>
<div id=wheel class=page_view>
    <img src=/static/images/loading.gif />
</div>
<!--# include file="_foot.html"-->
