<!--# include file="_head.html"-->
<div id=main class="start_button page_view">
    <div style="width: 150px; margin: auto;">
        <button type="button" onclick="fill_meet_form()" class="col-sm-4 btn btn-success btn-lg btn-block">Новый визит</button>
    </div>
</div>

<!--# include file="_managers.html"-->
<!--# include file="_targets.html"-->

<div id=form class=page_view style="display: none;">

<div class="container zvonki3">
<form name=meet action="/meet/form" method="post">
    <br />
    <div class="row">
        <div class="col-md-4 agrad-blue zv3-lt">
            <div class="text-center"><label>Пол клиента</label></div>
            <div class="text-center">
                <div id="sex">
                    <span class="btn btn-lg btn-warning">М
                        <input type=radio name=sex class=sex id=sex0 value=0  />
                    </span>
                    &nbsp;&nbsp;
                    <span class="btn btn-lg btn-warning">Ж
                        <input type=radio name=sex class=sex id=sex1 value=1  />
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-8 zv3-rt">
            <div class="agrad-blue ">
                <div class="text-center"><label>Цель визита</label></div>
                <div class="text-center">
                    <div class="buttons">
                        <div id="targets"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 agrad-blue zv3-lb" id="data_container">
            <div class="col-md-6" id="fio_container">
                <div class="form-group">
                    <label for="name">ФИО:</label>
                    <input name="name" type="text" class="form-control" id="name" value="" maxlength=50 />
                </div>
                <div class="form-group">
                    <label for="phone">Телефон:</label>
                    <input name="phone" type="text" class="form-control c_phone" id="phone" value="" />
                </div>
                <div class="form-group ">
                    <label for="email_user">Email:</label>
                    <div class="input-group">
                        <input name="email_user" type="text" class="form-control" id="email_user" value="" maxlength=50 />
                        <span class="input-group-addon">@</span>
                        <input name="email_host" type="text" class="form-control" id="email_host" value="" maxlength=50 />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" value="campaign" name="campaign" id="campaign" class="form-control float-left inline-block"
                        style='width: 30px; height: 25px;'>&nbsp;
                    <label for="campaign">Акция</label>
                </div>
            </div>
            <div id="memo_container" class="col-md-6 ">
                <div class="form-group">
                    <label for="zv3_comment">Заметки:</label>
                    <!--# include file="_comment.html"-->
                </div>
            </div>
        </div>
        <div class="col-md-5 zv3-rb" id="managers_container">
            <div class="agrad-blue ">
                <div id=selector></div>
                <div class="text-center"><label>Выбор менеджера</label></div>
                <div class="table " style="height:300px;overflow:auto;">
                    <table class="table table-hover table table-bordered table-condensed callform" id="managers">
                    </table>
                </div>
            </div>
            <br />
            <div id=busy_button onClick="action.value = 'busy'; check_meet_form();" class="btn btn-danger btn-lg col-md-8" style="border-color: white;">
              Руководитель
              <span id=r_sms style='display: none'> + SMS</span>
            </div>
            <div onClick="document.getElementById('action').value = 'send'; check_meet_form();" class="btn btn-success btn-lg pull-right col-md-4" style="border-color: white;">Завершить</div>
        </div>


        <input type=hidden name=active_manager id=active_manager value="" />
        <input type=hidden name=action id=action value="send" />
        <input type=hidden name=o_ref id=o_ref value="" />
        <input type=hidden name=dep_ref id=dep_ref value="" />
        <input type=hidden name=d_phone id=d_phone value="" />
        <input type=hidden name=d_ref id=d_ref value="" />
        <input type=hidden name=e_ref id=e_ref value="" />
        <input type=hidden name=author id=author value="" />
        <input type=hidden name=r_phone id=r_phone value="" />
    </div>
</form>
</div>
</div>

<div id=org class="start_button page_view" style="margin-top: -100px; display: none">
    <div style="width: 400px; margin: 0 auto;">
        <label for=org>Организация:</label><br />
        <select id=orgs name="org" style="text-align: center" class=form-control /></select>
        <br />
        <br />
        <button type="button" onclick="select_org()" class="btn btn-success">Выбрать</button>
    </div>
</div>
<!--# include file="_foot.html"-->
