<div class="container page_view" id=nps style="display: none">
    <div id=sip_streams></div>
    <br />
    <div class="col-md-12 zv2-rt">
      <input type=hidden id=zn_ref value="" />
      <div class="agrad-blue row">
        <div class="col-md-3">
            <span class="" >Клиент:</span><br />
            <label class="" id="ka"></label>
        </div>
        <div class="col-md-3">
            <span class=""  >Телефон:</span><br />
            <label class="" id="phone"></label>
            <div id="dialog" style="display:none" title="Выберите номер телефона"></div>
            <div id="drop_doc" style="display:none;" title="Пропустить документ">
                <textarea  rows="5" class="form-control" style="background-color: white" placeholder="Укажите здесь причину пропуска"></textarea>
                <div style="text-align:center; margin: 10px 0px 0 0;">
                    <div class="btn-success btn" onclick="fDrop_doc()">ОК</div>
                    <div class="btn-warning btn" onclick="$( '#drop_doc' ).dialog( 'close' );">Отмена</div>
                </div>
            </div>
            <!--select id="selectphone" onchange="g_number = this.value" class="form-control" style="display:none">
            </select--!>
        </div>
        <div class="col-md-3">
            <span class=""  >Бренд:</span><br />
            <label class="" id=brand></label>
        </div>
        <div class="col-md-3">
            <span class=""  >Автомобиль:</span><br />
            <label class="" id=model></label>
        </div>
      </div>
    </div>
    <script>
    $(document).on('click', '.btns span', function(){
        radio = $(this).find('input:radio');
        radio.prop('checked', true);
        document.getElementById('d_phone').value = '';

        $('.btns span').removeClass("btn-success");
        $('.btns span').addClass("btn-warning");
        $(this).addClass("btn-success");
    });
    </script>
    <br />
    <div class="row">
        <div id=step0 class="col-md-12 zv2-rt step" style="display: none">
          <div class="agrad-blue" style="height:400; position: relative">
            <br />
            <br />
            <br />
            <div align="center" style="position: absolute; bottom: 25; width: 100%">
            <!--
              <img src=/static/loading.gif />
            -->
              <span onclick="skip()" class="btn-danger btn btn-lg " style="width: 150px; margin-bottom: 8px">Пропустить</span>
            </div>
          </div>
        </div>
        <div id=step0n class="col-md-12 zv2-rt step">
          <div class="agrad-blue" style="height:400; position: relative">
           <br />
           <br />
           <br />
           <div align="center"  style="position: absolute; bottom: 25; width: 100%">
             <span onclick="not_available()" class="btn-danger btn btn-lg " style="width: 150px; margin-bottom: 8px">Недоступен</span>
           </div>
          </div>
        </div>
        <div id=step1 class="col-md-12 zv2-rt step">
          <div class="agrad-blue" style="height:400; position: relative">
            <label id="greeting" style="display:none;"></label>
            <label class="tmodule">{io}?</label>
            <!--
            <input type="datetime-local" name="recall_dt" class="form-control" value="2014-11-17T13:00"/>
            <div align=center style="margin-top: 25px;">
            -->
            <div align=center style="position: absolute; bottom: 25; width: 100%">
              <span onclick="navigate('step', '2')" class="btn-success btn btn-lg " style="width: 150px; margin-bottom: 8px">Да</span>
              <span onclick="navigate('step', '1n')" class="btn-danger  btn btn-lg " style="width: 150px; margin-bottom: 8px">Нет</span>
              <span onclick="not_available()" class="btn-danger btn btn-lg " style="width: 150px; margin-bottom: 8px">Недоступен</span>
            </div>
          </div>
        </div>
        <div id=step2 class="col-md-12 zv2-rt step" style="display: none">
          <div class="agrad-blue" style="height:400; position: relative; ">
            <label class=tmodule>{label1}</label>
            <br />
            <label class=tmodule>{label2}</label>
            <br />
            <label>Вам сейчас удобно разговаривать?</label>
            <div align=center style="position: absolute; bottom: 25; width: 100%">
              <span onclick="navigate('step', '3')" class="btn-success btn btn-lg " style="width: 150px; margin-bottom: 8px">Да</span>
              <span onclick="navigate('step', '2n')" class="btn-danger  btn btn-lg " style="width: 150px; margin-bottom: 8px">Нет</span>
            </div>
          </div>
        </div>
        <div id=step3 class="col-md-12 zv2-rt step" style="display: none">
          <div class="agrad-blue" style="height:400; position: relative; ">
            <label class="tmodule">
            {question1}
          </label>
            <br />
            <br />
            Сделайте небольшую паузу (1-2 секунды), чтобы клиент вспомнил время покупки.
            <div align=center style="position: absolute; bottom: 25; width: 100%">
              <span onclick="navigate('step', '4')" class="btn-success btn btn-lg " style="width: 150px; margin-bottom: 8px">Да</span>
              <span onclick="navigate('step', '3o')" class="btn-warning btn btn-lg " style="width: 150px; margin-bottom: 8px">Был другой</span>
              <span onclick="not_client()" class="btn-danger  btn btn-lg " style="width: 150px; margin-bottom: 8px">Нет</span>
            </div>
          </div>
        </div>
          <!--
          Альтернативные развязки
          -->
        <div id=step1m class="col-md-12 zv2-rt step" style="display: none">
          <div class="agrad-blue" style="height:400; position: relative; ">
            <label class=tmodule>Как я могу обращаться к вам?</label>
            <div align=center style="position: absolute; bottom: 25; width: 100%">
              <div class="row center">
                <div class="col-md-4 spacer"></div>
                <div class=col-md-4>
                  <input name="c_name" id="c_name" class="form-control " />
                </div>
                <div class="col-md-4 spacer"></div>
              </div>
              <br />

              <span onclick="fill_tmodule(c_name.value); navigate('step', '3')" class="btn-success btn btn-lg " style="width: 150px; margin-bottom: 8px">Далее</span>
              <span onclick="nohow()" class="btn-danger  btn btn-lg " style="width: 150px; margin-bottom: 8px">Никак</span>
            </div>
          </div>
        </div>

        <div id=step1n class="col-md-12 zv2-rt step" style="display: none">
          <div class="agrad-blue" style="height:400; position: relative; ">
            <label class=tmodule>Вас беспокоит управляющая компания Автоград, отдел по работе с клиентами!</br>Меня зовут {u}!</br>С кем я могу переговорить по качеству обслуживания автомобиля {brand}?</label>
            <div align=center style="position: absolute; bottom: 25; width: 100%">
              <span onclick="navigate('step', '2')" class="btn-success btn btn-lg " style="width: 200px; margin-bottom: 8px">Сейчас приглашу</span>
              <span onclick="navigate('step', '1m')" class="btn-success btn btn-lg " style="width: 150px; margin-bottom: 8px">Со мной</span>
              <span onclick="navigate('step', '2n')" class="btn-warning btn btn-lg " style="width: 150px; margin-bottom: 8px">Не сейчас</span>
              <span onclick=" not_client()" class="btn-danger  btn btn-lg " style="width: 200px; margin-bottom: 8px">Ошиблись номером</span>
            </div>
          </div>
        </div>

        <div id=step2n class="col-md-12 zv2-rt step" style="display: none">
          <div class="agrad-blue" style="height:400; position: relative; ">
            <label>В какое время я могу перезвонить?</label>

            <div align=center style="position: absolute; bottom: 25; width: 100%">
              <div class="row center">
                <div class="col-md-3 spacer"></div>
                <div class=col-md-3>
                  <input type="date" name="recall_d" id="recall_d" class="form-control " />
                </div>
                <div class=col-md-3>
                  <input type="time" name="recall_t" id="recall_t" class="form-control " />
                </div>
                <div class="col-md-3 spacer"></div>
              </div>
              <br />

              <span onclick="navigate('step', '3')" class="btn-success btn btn-lg " style="width: 150px; margin-bottom: 8px">Удобно</span>
              <span onclick="postpone()" class="btn-warning btn btn-lg " style="width: 150px; margin-bottom: 8px">Отложить</span>
              <span onclick="nohow()" class="btn-danger  btn btn-lg " style="width: 150px; margin-bottom: 8px">Никогда!</span>
            </div>

            <script>
            document.getElementById('recall_d').value = $.datepicker.formatDate('yy-mm-dd', new Date())
            document.getElementById('recall_t').value = new Date().toTimeString().substr(0, 5)
            </script>

          </div>
        </div>
        <div id=step3n class="col-md-12 zv2-rt step" style="display: none">
          <div class="agrad-blue" style="height:400; position: relative; ">
            <label>Приношу свои извинения за доставленное неудобство.</label>
            <br />
            <label>Всего доброго!</label>
            <br />
            <label class="holiday" style="display:none;">{holiday}</label>
            <label>До свидания!</label>
            <div align=center style="position: absolute; bottom: 25; width: 100%">
              <span id="finish_button" onclick="finish_n()" class="btn-danger  btn btn-lg " style="width: 150px; margin-bottom: 8px">Завершить</span>
            </div>
          </div>
        </div>
        <div id="step3o" class="col-md-12 zv2-rt step" style="display: none;">
          <div class="agrad-blue" style="height:400; position: relative; ">
            <label>Имя</label>
            <div class="row ">
              <div class="col-md-4">
                <input name="3o_name" id="3o_name" class="form-control ">
              </div>
            </div>
            <label>Телефон</label>
            <div class="row ">
              <div class="col-md-4">
                <input name="3o_phone" id="3o_phone" class="form-control ">
              </div>
            </div>
            <div align="center" style="position: absolute; bottom: 25; width: 100%">
                <span onclick="update_inf();" class="btn-success btn btn-lg " style="width: 150px; margin-bottom: 8px">Далее</span>
                <span onclick="not_been()" class="btn-danger  btn btn-lg " style="width: 150px; margin-bottom: 8px">Завершить</span>
            </div>
          </div>
        </div>
          <!--
          Переход к опросу
          -->
        <div id=step4 class="step" style="display: none">
          <div class="col-md-12 zv2-rt">
            <div id=question1 class="agrad-blue question" style="height:400; position: relative">
              <label class="tmodule">{question2}</label>
              <label>Оцените возможность рекомендации в баллах от 1 до 10.</label>
              <div align=center style="position: absolute; bottom: 25px; left: 0px; width: 100%; ">
                <div align=center class=col-md-4>
                  <span onclick="answer(-1)" class="btn-danger  btn btn-lg " style="width: 150px; margin-bottom: 8px">1 - 6</span>
                  <br />Нет
                </div>
                <div align=center class=col-md-4>
                  <span onclick="answer(0)" class="btn-warning btn btn-lg " style="width: 150px; margin-bottom: 8px">7 - 8</span>
                  <br />Не знаю
                </div>
                <div align=center class=col-md-4>
                  <span onclick="answer(1)" class="btn-success btn btn-lg " style="width: 150px; margin-bottom: 8px">9 - 10</span>
                  <br />Да
                </div>
              </div>
            </div>
            <div id='question2' class="question" style="display: none; position: relative; height: 400px;">
              <div class="col-md-8 zv2-rt agrad-blue " style="height: 400px; position: relative">
                <label id='ask_comment'></label>
                <br />
                Заполнить таблицу критериями. Внести комментарий.
                 <div style="display:none; position:absolute; bottom: 89px;">
                    Дождаться окончания пояснений клиента.
                    <br />
                    <label>Поняла вас, хотите еще что то добавить?</label>
                  </div>
                <div align=right style="position: absolute; bottom: 25; right: 25">
                <!--
                  <span onclick="navigate('question', 1)" class="btn-success btn btn-lg " style="width: 150px; margin-bottom: 8px">Назад</span>
                  <span onclick="navigate('question', 3)" class="btn-success btn btn-lg " style="width: 150px; margin-bottom: 8px">Далее</span>
                -->
                  <span onclick="answer2()" class="btn-success btn btn-lg " style="width: 150px; margin-bottom: 8px">Далее</span>
                </div>
              </div>
              <!--# include file="_table_service.html"-->
            </div>
            <div id=question3 class="agrad-blue question" style="height:400; position: relative; display: none">
              <label class=tmodule>{io}!</label>

              <label id="danke"></label>

              <label id="moskow" class="tmodule" style="display: none;">Возможно Вам позвонят, или пришлют анкету из головного представительства {brand}
              г.Москва для того, чтобы оценить качество нашей работы.<br />
              Это очень важно для нас. Поэтому просим Вас поставить наивысшую оценку.</label>
              <label>Спасибо за уделённое время.</label>
              <label class="holiday" style="display:none;">{holiday}</label>
              <label>Всего хорошего, до свидания!</label>
              <div align=right style="position: absolute; bottom: 25; right: 25">
              <!--
                <span onclick="navigate('question', 2)" class="btn-success btn btn-lg " style="width: 150px; margin-bottom: 8px">Назад</span>
              -->
                <span onclick="finish()" class="btn-success btn btn-lg " style="width: 150px; margin-bottom: 8px">Завершить</span>
              </div>
            </div>
            <br />
          </div>
        </div> <!--Step4-->
      </div>
    <div id=step_container class="row">
      <div id=step_body class="col-md-12 zv2-rt">
        <div id=step_text class="agrad-blue" style="height:400; position: relative">
        </div>
        <div id=step_buttons align="center" style="position: absolute; bottom: 25; width: 100%">
          <span onclick="skip()" class="btn-danger btn btn-lg " style="width: 150px; margin-bottom: 8px">Пропустить</span>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-12"> <!--DIV open-->
      <div id="memo_container" class="agrad-blue">
        <label class="float-left inline-block" for="comment_editor">Комментарий:</label>
        <div class="take-up-remaining-space">
          <textarea name="comment" id="comment" rows="5" class="form-control" style="background-color: white" ></textarea>
        </div>
      </div>
    </div> <!--DIV close-->
  </div>
</div>
