<!--# include file="_head.html"-->
<style>
#main {
     width: 128px;
     height: 128px;
     position: absolute;
     top:0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
 } 
</style>
<div id=main class=page_view>
    <img src=/static/images/loading.gif />
</div>
<!--# include file="_foot.html"-->
