html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.width30 {
    width: 29%;
}
.width40 {
    width: 33%;
}
.width60 {
    width: 67%;
    display:inline;
}
.width70 {
    width: 71%;
}
.width100 {
    width: 100%;
}
.height200 {
    height: 200px;
}
.zv3-rt {
    padding-right: 0px;
}
.zv3-rb {
    padding-right: 0px;
}
.page-wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}
* html .page-wrapper {
    height: 100%;
}
.page-buffer {
    height: 30px;
}
#footer {
    text-align: center;
    font-size: 10px;
    color: lightgrey;
    width: 100%;
    z-index: -1;
}

#comment {
/*
    position: relative;
    top: -20px;
    z-index: 90;
*/
}
#comment_editor {
    position: relative;
    /*
    top: -310px;
    min-height: 50px;
    z-index: 99;
    vertical-align: bottom;
    */
    border: 1px solid lightgrey;
    background-color: #ffffff;
}
#c_memo {
    background-color: #ffffff;
}
.start_button {
    position: absolute;
    width: 100%;
    top: 45%;
    text-align: center;
}
/*
.table > tbody > tr.active > td,
*/
#phone_table tr.active_manager > td,
#managers tr.active_manager > td {
    background-color: #bce8f1 !important;
}

#phone_table tr.friendly_manager > td,
#managers tr.friendly_manager > td{
    background-color: #dfd;
}
.btn {
    vertical-align: middle;
    /*
    padding-top: 6px;
    */
}
.btn-nps {
  width: 200px;
  margin: 8px;
}
.required {
    /*background-color: red;*/
    border: 3px solid red !important;
    padding: 3px;
    border-radius: 10px;
}

.call-button {
    cursor: pointer;
}

.selected {
    opacity: 0.7;
    border: black solid;
}

#wheel {
    width: 128px;
    height: 128px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#sip_buttons {
    margin: 15px;
    margin-top: 30px;
    z-index: 99;
    /* border: solid; */
    position: fixed;
    /*display: none;*/
}
.sip_button {
    width: 50px;
    height: 50px;
}
#status_bar {
  /*
    width: 66%;
    float: left;
    */
    position: absolute;
    left: 0;
    z-index: 2;
}
#status_line {
    padding: 3px;
}
#status_calls {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
#status_monitor {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  font-size: 0.6em;
}
#user_bar {
    /*
    width: 300px;
    float: right;
    margin: 3px;
    */
    text-align: right;
    position: absolute;
    right: 0;
}
.admin_th {
    text-align: center;
    width: 25%;
}
.admin_td_calls {
    width: 500px;
}
.on_hold {
    color: navy;
    border: solid navy;
    opacity: 0.5;
}
.on_hold:hover {
    text-decoration: none !important;
}
.text_module {
    text-align: center;
    padding-bottom: 5px;
}
.sms {
  content: url(/static/sms2.png);
  height: 30px;
}

.yellow{
  background-color: rgb(255, 240, 82) !important;
}

.gear > td, .work > td{
  background-color: #dfd !important;
}

#dialog td {
  background: #ffffff;
  padding: 6px 9px;
  border: none;
  border-right: 1px solid #d9d9d9 !important;
  border-bottom: 1px solid #d9d9d9 !important;
}

#dialog th{
  padding: 6px 9px;
  color: #ffffff;
  background: #428bca !important;
  border: none;
  line-height: 1.42857143;
  vertical-align: top;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0;
}

#dialog table{
  border-radius: 4px;
  border-collapse: separate;
  border: 1px solid #2d7cc0;
  font-size: 1.1em;
  width: 100%;
  margin-bottom: 20px;
  max-width: 100%;
  background-color: transparent;
  border-spacing: 0;
  box-sizing: border-box;
  font-family:  Helvetica, Arial, sans-serif;
}

#script-warning {
  display: none;
  background: #eee;
  border-bottom: 1px solid #ddd;
  padding: 0 10px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: red;
}
#loading {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
#calendar-box {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 10px;
}

.list-open-items li a + p {
  display: none;
}

.list-open-items li a {
  font-weight: bold;
}

.list-open-items li a:before {
  content: '+ ';
  width: 15px;
  display: inline-block;
}

.list-open-items li a.active:before {
  content: '- ';
}

.list-open-items li p {
  padding-left: 15px;
  padding-top: 10px;
  font-size: 15px;
  line-height: 1.4em;
}

.list-open-items li {
  border-top: 1px solid #ddd;
  padding: 10px 0;
}

.list-open-items li:first-child {
  border-top: none;
}
